#skip_navi{position:fixed; left:0; top:-999px; display:block; padding:.5rem 1.5rem; font-size:15px; color:#fff;font-weight: 700; background:$danger}
#skip_navi:focus{top:0; z-index:999}

$mobileHeaderHeight: 56px;
$asideWidth : 230px;

html,
body{
    height: 100%;
    scrollbar-face-color: transparent;
	scrollbar-track-color: transparent;
	scrollbar-arrow-color: #e5e5e5;
	scrollbar-3dlight-color: none;
	scrollbar-shadow-color: #e5e5e5;
	scrollbar-darkshadow-color: none;
    scrollbar-color: #e5e5e5 transparent;
    scrollbar-width: thin;
}
body{
    overflow-x: hidden;overflow-y: scroll;-webkit-font-smoothing: antialiased;width: 100%;padding-top: 80px;min-width:320px !important;
    @include media-breakpoint-down(md){
        font-size: 12px;padding-top: $mobileHeaderHeight;
    }
}
::-webkit-scrollbar{
	width: 4px;
	height: 4px;
	background-color: transparent;
}
::-webkit-scrollbar-track{
	border-radius: 0;
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	border-radius: 2px;
	background-color: #e5e5e5;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

#wrap{min-height: 100%;display: flex;flex-direction: column;}

.logo{
    line-height: 1;font-size: 1em;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);
    a{display: block;}
    img{height: 40px;vertical-align: top;}
    @include media-breakpoint-down(md){
        position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);
        img{height: 25px;}
    }
    .main &{
        display: none;
    }
}


header{
    width: 100%;transition: .2s ease-out;border-bottom: 1px solid #e0e0e0;height: 80px;position: fixed;top: 0;left: 0; z-index: 1;display: flex;align-items: center;background: #fff; z-index: 10;
    @include media-breakpoint-down(md){
        height: $mobileHeaderHeight;justify-content: space-between;
    }
}

.btn-hamburger{
    width: 80px;height: 100%;display: block;
    @include media-breakpoint-down(md){
        width: $mobileHeaderHeight;
    }
}

aside{
    position: fixed;overflow: hidden;width: $asideWidth;opacity: 1;height: 100vh;top: 0;left: 0;padding-top: 80px;background: #fff; z-index: 9;
    @include media-breakpoint-down(md){
        padding-top: $mobileHeaderHeight;left: -100%;
        .dim{width: 100vw;height: 100%;background: rgba(199, 199, 199, .7);position: fixed; left: 0;top: $mobileHeaderHeight;display: none;}
    }
}

.gnb{
    white-space: nowrap;height: 100%;transition: opacity .2s;border-right: 1px solid #e0e0e0;padding-top: 20px;background: #fff;position: relative;
    @include media-breakpoint-down(md){
        padding-top: 40px;
    }
    a{text-decoration: none;}
    .dep1{
        > li{
            > a{
                display: block;padding: .6rem 1rem .6rem 60px;position: relative;font-weight: 700;font-size: 15px;
                &::before{content: '';display: block;width: 22px;height: 22px;background-position: 50% 50%;background-repeat: no-repeat;position: absolute;left: 29px;top: 50%;transform: translateY(-50%);}
                br{display: none;}
            }
            &.active{background: #efefef;}
        }
        > li:nth-child(1) > a::before{background-image: url(../images/gnb-icon-1.svg);}
        > li:nth-child(2) > a::before{background-image: url(../images/gnb-icon-2.svg);}
        > li:nth-child(3) > a::before{background-image: url(../images/gnb-icon-3.svg);}
        > li:nth-child(4) > a::before{background-image: url(../images/gnb-icon-4.svg);}
        > li:nth-child(5) > a::before{background-image: url(../images/gnb-icon-5.svg);}
        > li:nth-child(6) > a::before{background-image: url(../images/gnb-icon-6.svg);}
    }
}

.gnb-bar{
    white-space: nowrap;height: 100%;transition: opacity .2s;border-top: 1px solid #e0e0e0;padding: 12px 0 10px 0;background: #fff;position: relative;
    a{text-decoration: none;}
    .dep1{
        display:table;
        width:100%;
        table-layout:fixed;
        > li{
            display:table-cell;
            vertical-align:middle;
            opacity: 0.5; transition: opacity 0.35s ease;
            > a{
                display: block; padding-top: 25px; position: relative;font-weight: 500;font-size: 9px; text-align: center;line-height: 1.2;
                &::before{content: '';
                    display: block;
                    width: 18px;
                    height: 18px;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translate(-50%);
                    background-size: contain;

                }
            }
            &.active{opacity: 1;}
        }
        > li:nth-child(1) > a::before{background-image: url(../images/gnb-icon-1.svg);}
        > li:nth-child(2) > a::before{background-image: url(../images/gnb-icon-2.svg);}
        > li:nth-child(3) > a::before{background-image: url(../images/gnb-icon-3.svg);}
        > li:nth-child(4) > a::before{background-image: url(../images/gnb-icon-4.svg);}
        > li:nth-child(5) > a::before{background-image: url(../images/gnb-icon-5.svg);}
        > li:nth-child(6) > a::before{background-image: url(../images/gnb-icon-6.svg);}
    }
}

.header-search{
    border-radius: 50rem;background: #efefef;width: 462px;height: 42px;position: relative;margin: 0 auto;transform: translateX(-115px);
    .form-control{border: 0;background: transparent;height: 100%;border-radius: 50rem;padding-left: 30px;padding-right: 60px;}
    .btn-search{position: absolute;right: 30px;top: 50%;transform: translateY(-50%);font-size: 15px;}
    i{color: #8c8c8c;}

    main &{
        margin-top: 20px;margin-bottom: 60px;
    }

    @include media-breakpoint-down(md){
        width: auto;transform: none;
    }
}

.header-menu{
    position: absolute;right: 30px;top: 50%;transform: translateY(-50%);display: flex;align-items: center;
    > *{margin-left: 20px;}
    > .position-relative{display: flex;}
    @include media-breakpoint-down(md){
        position: static;margin-right: 20px;transform: none;
        > *{margin-left: 10px;}
    }
}

.btn-login{
    height: 36px;padding-top: 7px;
    @include media-breakpoint-down(md){
        height: auto;padding: 0;border: 0;
        span{display: none;}
    }
}
.btn-more{width: 18px;line-height: 1;vertical-align: middle;}
.btn-alarm{
    line-height: 1;position: relative;vertical-align: middle;
    span{display: inline-block;width: 7px;height: 7px;border: 1px solid #fff;border-radius: 50%;background: #ff0000;position: absolute;right: 1px;top: 1px;}
}
.btn-my{width: 30px;height: 30px;border-radius: 50%; background-repeat: no-repeat; background-size: cover; background-position: center;}

.menu-layer{
    position: absolute;right: 0;top: 32px;width: 140px;border: 1px solid #e0e0e0;padding: 15px 20px;background: #fff;display: none;
    &.active{display: block;}
    a{font-size: 14px;text-decoration: none;display: block;}
    .active > a{color: $danger;}
    li{padding: 5px 0;}
    .has-sub{
        > a{background: url('../images/icon-angle-right.svg') no-repeat 100% 6px;}
    }
    .dep2{display: none;}
    .open{
        background: none;padding: 0;
        > a{display: none;}
        .dep2{display: block;}
        .back{
            line-height: 35px;border-bottom: 1px solid #e0e0e0;margin: -15px -20px 0;
            > a{padding: 0 20px;background: url('../images/icon-angle-left.svg') no-repeat 9px 12px;}
            & + ul{padding-top: 15px;}
        }
    }
    @include media-breakpoint-down(md){
        position: fixed;left: 0;top: 0;right: auto;z-index: 10;width: 100%;height: 100%;background: rgba(199, 199, 199, .7);
        .inner{position: fixed;background: #fff;top: 0;right: 0;bottom: 0;width: 200px;padding: 30px;}
        .dep1{padding-top: 25px;}
        li{padding: 10px 0;}
        .btn-close{
            position: absolute;right: 23px;top: 20px;
            .icon-x{width: 16px;height: 16px;vertical-align: top;}
        }
        .open{
            .back{
                margin: -46px -30px 0;line-height: 41px;
                > a{padding: 0 30px 5px;background-position: 13px 15px;}
            }
        }
    }
}

.alarm-layer{
    position: absolute;right: 0;top: 32px;border: 1px solid #e0e0e0;background: #fff;display: none;
    &.active{display: block;}
    .channel-empty{
        width: 478px;height: 587px;
        p{font-size: 14px;margin-top: 47px;}
        span{font-size: 12px;display: block;margin-top: 8px;}
    }

    .channel-full{
        padding:25px 5px 25px 20px;
        height: 587px;
        > ul{
            @include media-breakpoint-up(md){
                min-width: 450px;
            }
            overflow-y: auto;
            overflow-x:hidden;
            width: 100%;
            height: 100%;
            padding-right:15px;
            font-size: 14px;
            .delete-btn{
                line-height: 1;
                i{
                    width:10px; height:10px; opacity: 0.5;
                }
            }
            .alarm-sort{
                font-weight: 500;
            }
            li{
                & +li {margin-top:12px;}
            }
        }
    }

    .alarm-layer-head{
        height: 53px;padding: 0 20px;display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid #e0e0e0;position: relative;
        .tit{font-size: 15px ;}
    }
    @include media-breakpoint-down(md){
        position: fixed;left: 0;right: 0;top: 0;bottom: 0;border: 0;
        .channel-empty{width: auto;height: calc(100vh - 53px - 40px)}
        .alarm-layer-head{
            height: $mobileHeaderHeight;
        }
        .back{
            margin-left: -20px;width: $mobileHeaderHeight;height: 100%;
            a{width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;}
            .icon-angle-left{height: 16.5px;width: 10.5px;}
        }
        .tit{font-size: 14px;padding: 9px 20px;border-bottom: 1px solid #e0e0e0;}

        .channel-full{
            height: 100%;
            > ul{
                max-height: 80vh;
                font-size: 12px;
           }
        }
    }
}

#container-block{
    flex-grow: 1;
}

#content{
    padding: 50px 30px 50px 260px;transition: .5s;
    min-height: 100%;max-width: 1560px;margin: 0 auto;
    @include media-breakpoint-down(md){
        padding: 20px 20px 100px 20px;
    }
}


.banner-area{
    padding: 0 0 0 $asideWidth; transition: .5s;position: sticky;top: 80px;padding-bottom: 40px;z-index: 8;
    .banner{
        display: flex;
        justify-content: center;
        width: 100%;
        padding:8px 20px;
        .title{
            font-size: 16px;
        }
    }
    @include media-breakpoint-down(md){
        padding:0;top: $mobileHeaderHeight;
        .banner{
            .title{
                font-size: 9px;
                line-height: 15px;
                &::before{
                    width: 3px;
                    height: 3px;
                    top:0;
                    left:-4px;
                }
            }
        }
    }
}



html.is-collapsed{
    .header-search{transform: translateX(-40px);transition: none;}
    .rescan-search .header-search{transform: translateX(0);}
    @include media-breakpoint-up(lg){
        aside{width: 80px;}
        #content, footer .inner{padding-left: 110px;}
        .banner-area{padding-left: 80px;}
        .gnb .dep1>li>a{padding: 9.5px;text-align: center;font-size: 10px;line-height: 1.2;}
        .gnb .dep1>li>a::before{position: static;margin: 0 auto 10.5px;transform: none;}
        .gnb .dep1>li>a br{display: block;}
    }
    @include media-breakpoint-down(md){
        aside{
            left: 0;z-index: 99;padding-top: 0;top: $mobileHeaderHeight;
            .dim{display: block;}
        }
    }
}

.btn-top{
    position: fixed;bottom: -100px;right: 60px;z-index: 1;transition: .4s ease-in .1s;
    > a{width: 60px;height: 60px;border: 1px solid #eee;display: flex;align-items: center;justify-content: center;background: #fff;}
    .icon-top{background-image: url('../images/icon-top.svg');width: 24px;height: 28px;}
    html.is-scrolled &{
        bottom: 260px;
    }
}

footer{
    background: #fcfcfc;border-top: 1px solid #e0e0e0;
    .inner{
        color:#8c8c8c;
        height: fit-content;
        min-height: 100%;
        position: relative;
        transition: .5s;
        max-width: 1560px;margin: 0 auto;padding: 50px 30px 50px 260px;
        li{
            display:inline-block; color:#8c8c8c;
            & + li{
                margin-left:30px;
            }
        }
    }
    .footer-top{
        margin-bottom:18px;
        font-weight: 500;
        a{color:#8c8c8c;}
    }
    .footer-middle{
        margin-bottom: 6px;
        font-size: 14px;
        li{display: inline-block;}
    }
    .footer-bottom{
        font-size:14px;
    }

    #bottom{
        position:fixed;
        bottom:0;
    }

    @include media-breakpoint-down(md){
        padding-bottom:72px;
        .inner{
            padding:26px 22px 30px 22px;
            li{
                & + li{
                    margin-left:20px;
                }
            }
        }
        .footer-top{
            margin-bottom: 13px;
            font-size: 11px;
            text-align: center;
            li{
                & + li{
                    margin-left:20px;
                }
            }
        }
        .footer-middle{
            font-size: 10px;
            margin-bottom: 5px;
            text-align: center;

        }
        .footer-bottom{
            font-size: 10px;
            text-align: center;
        }
    }

    @include media-breakpoint-down(xs){
        .footer-middle{
            text-align: left;
            li:nth-child(odd){
                margin-left: 0;
            }
        }
    }


}