#skip_navi{position:fixed; left:0; top:-999px; display:block; padding:.5rem 1.5rem; font-size:15px; color:#fff;font-weight: 700; background:$danger}
#skip_navi:focus{top:0; z-index:999}

html,body { height: 100%; scrollbar-face-color: transparent; scrollbar-track-color: transparent; scrollbar-arrow-color: #e5e5e5; scrollbar-3dlight-color: none; scrollbar-shadow-color: #e5e5e5; scrollbar-darkshadow-color: none; scrollbar-color: #e5e5e5 transparent; scrollbar-width: thin; }
body { -webkit-font-smoothing: antialiased;}
::-webkit-scrollbar { width: 4px; height: 4px; background-color: transparent; }
::-webkit-scrollbar-track { border-radius: 0; background-color: transparent; }
::-webkit-scrollbar-thumb { border-radius: 2px; background-color: #e5e5e5; }
::-webkit-scrollbar-button { width: 0; height: 0; }


#top-banner{
    background: #fff7ef;position: fixed;top:0;left: 0; width: 100%;z-index: 10;transition: .25s .1s ease-in-out;
    .container{position: relative;}
    .top-banner{
        height: 100px;display: flex;align-items: center;justify-content: center;
        .item{
            display: block; border-left: 1px dashed #f0dccb;text-decoration: none;padding: 0 1rem;overflow: hidden;flex: 1 0 auto;
            img{float:left;margin-right: 14px;margin-top: 3px;}
            span{display: block;font-size: 15px;color: $secondary;font-weight: 600;white-space: nowrap;}
            strong{display: block;font-size: 20px;font-weight: 700;color: #000;white-space: nowrap;}
        }
    }
    .banner-toggler{position: absolute;bottom: 0;right: 0;transition: bottom .2s;}
    html.banner-collapsed &{
        transform: translateY(-90px);
        .banner-toggler{transform: rotate(180deg);bottom: -20px;}
    }
    @include media-breakpoint-down(xxl){
        .top-banner{
            .item{
                img{height: 36px;}
                span{font-size: 14px;}
                strong{font-size: 16px;}
            }
        }
    }
    @include media-breakpoint-down(xl){
        .top-banner{
            flex-wrap: wrap;margin: 0 -.75rem;height: auto;
            .item{
                flex: 1 1 50%;padding: .5rem;line-height: 1.3;display: flex;align-items: center;justify-content: center;height: 50px;
                &:nth-child(1),
                &:nth-child(3){border-left: 0;}
                &:nth-child(3),
                &:nth-child(4){border-top: 1px dashed #f0dccb;}
                img{height: 25px;margin-top: 0;margin-right: .5rem;}
                span{font-size: 13px;}
                strong{font-size: 14px;margin-left: 6px;}
            }
        }
    }
    @include media-breakpoint-down(lg){
        z-index: 12;display: none;
        .top-banner{
            .item{
                span{display: none;}
            }
        }
    }
}

#header{
    .logo{
        position: fixed;left: 60px;top: 27px;z-index: 11;
        img{vertical-align: top;}
        @include media-breakpoint-down(xxl){
            left: 30px;
        }
        @include media-breakpoint-down(lg){
            left: 1rem;top: 1rem;
            img{height: 32px;}
        }
    }
    @include media-breakpoint-down(lg){
        background: #fff;height: 60px;position: fixed;left: 0;top: 0;width: 100%;z-index: 10;
    }
}

#reservation-confirm{
    background: #333;position: fixed;bottom: 0;left: 0;width: 100%;z-index: 10;
    @include media-breakpoint-down(xl){
        display: none;
    }
}

.reservation-confirm{
    height: 60px;position: relative;display: flex;align-items: center;
    .btn-primary{
        color: #fff;border-radius: 0;height: 100%;display: flex;align-items: center;height: 60px;padding-left: 1.75rem;padding-right: 1.75rem;position: absolute;left: 0;top: 0;z-index: 2;
        &::before{content: '';display: block;background: url('../images/icon-calender-check.svg') no-repeat 0 0;width: 23px;height: 20px;margin-right: 12px;}
    }
}

.reservation-list{
    padding-left: 200px;
    .swiper-container{overflow: visible;}
    .swiper-wrapper{transition-timing-function: linear;}
    .swiper-slide{width: auto !important;height: auto !important;}
    .item{
        display: flex;align-items: center;color: #fff;font-size: 14px;font-weight: 500;
        i{
            font-weight: 600;color: #fff;border: 1px solid #fff;border-radius: 50rem;padding: .25rem 1rem;margin-right: 14px;
            &.ok{border-color: #717171;background: #717171;}
        }
    }
}

.fullpage-wrapper{overflow-x: hidden !important;}

.contact-fixed{
    color: #fff; font-size: 15px;background: #000;display: flex;align-items: center;padding: .75rem 1rem;position: fixed;right: 0;top: 25px;z-index: 11;border-radius: 50rem 0 0 50rem;
    a{text-decoration: none;color: #fff;}
    .icon-phone{margin-right: 1rem;}
    span{margin-right: .5rem;}
    strong{font-weight: 900;}
    @include media-breakpoint-down(xl){
        font-size: 14px;padding: .5rem 1rem;
    }
    @include media-breakpoint-down(lg){
        padding: .5rem .75rem;top: 11px;font-size: 12px;
        .icon-phone{height: 20px;margin-right: .15rem;}
        span{margin-right: .25rem;}
    }
}