<!DOCTYPE html>
<html lang="en">
<head>
    <title>We Can 피싱</title>
    @@include('@@webRoot/_include/_head.html')
</head>
<body>
    <div id="wrap">
        <div id="top-banner">
            <div class="top-banner">
                <a href="" class="item">
                    <img src="assets/images/top-banner-icon-1.svg" alt="">
                    <span>선장님과 함께라면</span>
                    <strong>우리 모두 <em class="text-primary">만선</em> 위캔피싱</strong>
                </a>
                <a href="" class="item">
                    <img src="assets/images/top-banner-icon-2.svg" alt="">
                    <span>즉석 활어회에 고기 한 쌈~까지~</span>
                    <strong><em class="text-primary">회</em>도 먹고 <em class="text-primary">고기</em>도 먹고!!</strong>
                </a>
                <a href="" class="item">
                    <img src="assets/images/top-banner-icon-3.svg" alt="">
                    <span>바다를 바라보며 즐기는 나만의 카페</span>
                    <strong><em class="text-primary">선상</em>에서 <em class="text-primary">커피</em> 한 잔</strong>
                </a>
                <a href="" class="item">
                    <img src="assets/images/top-banner-icon-4.svg" alt="">
                    <span>오늘의 제철로 한 가득 담아</span>
                    <strong>해산물 <em class="text-primary">쇼핑</em></strong>
                </a>
            </div>
        </div>
        <header id="header">
            <h1 class="logo"><a href="/"><img src="assets/images/logo.svg" alt="We Can 피싱 로고"></a></h1>
        </header>
        <div id="container">
            <main id="content">
                <section class="section1">
                    <div class="container">
                        <div class="row gx-5">
                            <div class="col-auto">
                                <div class="search">
                                    <p class="follow-me">
                                        오늘 하루 책임져 드릴게요! <br>
                                        <strong>We can 피싱과 즐거운 낚시여행</strong> <br>
                                        나만 믿고 따라와~
                                    </p>
                                    <p>누구랑 가세요?</p>
                                    <div class="with-check">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                가족
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                친구
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                연인
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                동료 선후배
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                단체
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                혼자
                                            </label>
                                        </div>
                                    </div>
                                    <div class="with-seleect">
                                        <div class="row g-3">
                                            <div class="col">
                                                <select class="form-select" aria-label="성인 인원 선택">
                                                    <option selected>성인 1명</option>
                                                    <option>성인 2명</option>
                                                    <option>성인 3명</option>
                                                    <option>성인 4명</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-select" aria-label="초등/미취학 인원 선택">
                                                    <option selected>초등/미취학 1명</option>
                                                    <option>초등/미취학 2명</option>
                                                    <option>초등/미취학 3명</option>
                                                    <option>초등/미취학 4명</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button type="button" class="btn btn-dark btn-lg d-block">검색</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="item">
                                                    <img src="assets/images/slider-img-1.png" alt="">
                                                    <div class="txt">
                                                        <span>가족전용 패키지 안내</span>
                                                        <strong>아이와 함께하는 추억 가득 낚시여행! <br> 가족 패키지로 원스탑 예약하고 <br>놀고~ 먹고~ 즐기면 돼~</strong>
                                                    </div>
                                                    <a href="" class="link">가족전용<br>패키지<br>예약하기</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-prev"></div>
                                        <div class="swiper-button-next"></div>
                                    </div>
                                    <script>
                                        const mainSwiper = new Swiper('.slider .swiper-container', {
                                            navigation: {
                                                nextEl: '.swiper-button-next',
                                                prevEl: '.swiper-button-prev',
                                            },
                                            pagination: {
                                                el: '.swiper-pagination',
                                                type: 'bullets',
                                            },
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section3">
                    <div class="container">
                        <h2 class="section-title">하루종일 즐기는 코스!</h2>
                        <p class="section-desc">승선 명부 작성부터 선상낚시까지 약 4시간 정도 소요됩니다. <br>육지로 이동해서 즐길거리는 자유시간으로 오늘 하루 일정 풀코스로 즐겨보세요!</p>
                        <div>
                            <img src="assets/images/img-schedule.png" alt="">
                        </div>
                    </div>
                </section>
                <section class="section4">
                    <div class="container">
                        <h2 class="section-title">20년 이상 경력이 아니면 배 운전 안합니다!</h2>
                        <p class="section-desc">시원 바람과 파도, 갈매기와 함께 고객분들을 안전하게 선상 낚시터까지 이동시켜드립니다.</p>
                        <div class="captain">
                            <h3 class="captain-resume">
                                <div class="tit">선장님들의 <br>간략한 이력서</div>
                                <p>배 이동시간은 10분 정도 소요됩니다.</p>
                            </h3>
                            <div class="captain-list">
                                <ul class="row gx-3">
                                    <li class="col">
                                        <div class="card">
                                            <img src="assets/images/img-captain-1.png" class="card-img-top" alt="">
                                            <div class="card-body">
                                                <h4 class="card-title">스타벅스, 후크선장</h4>
                                                <h5 class="card-subtitle mb-2 text-muted">경력 25년</h5>
                                                <p class="card-text">안녕하세요~ <br>고객님의 안전을 최우선으로 생각하는 선장 후크 입니다~^^ 배낚시의 재미를 느끼게 해드릴께요~</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col">
                                        <div class="card">
                                            <img src="assets/images/img-captain-2.png" class="card-img-top" alt="">
                                            <div class="card-body">
                                                <h4 class="card-title">스타벅스, 후크선장</h4>
                                                <h5 class="card-subtitle mb-2 text-muted">경력 25년</h5>
                                                <p class="card-text">안녕하세요~ <br>고객님의 안전을 최우선으로 생각하는 선장 후크 입니다~^^ 배낚시의 재미를 느끼게 해드릴께요~</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col">
                                        <div class="card">
                                            <img src="assets/images/img-captain-3.png" class="card-img-top" alt="">
                                            <div class="card-body">
                                                <h4 class="card-title">스타벅스, 후크선장</h4>
                                                <h5 class="card-subtitle mb-2 text-muted">경력 25년</h5>
                                                <p class="card-text">안녕하세요~ <br>고객님의 안전을 최우선으로 생각하는 선장 후크 입니다~^^ 배낚시의 재미를 느끼게 해드릴께요~</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section5">
                    <div class="container">
                        <h2 class="section-title">이주에 낚시왕을 찾아라!</h2>
                        <p class="section-desc">오늘은 내~가 선/상/낚/시 낚시왕, 누가 누가 더 잘 잡았나~ <br>선장님들의 눈에 쏙~ 들어온 월척을 찍어라!</p>
                        <div class="fishing-king">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    @@for (var i = 1; i < 5; i++) {
                                    <div class="swiper-slide">
                                        <div class="card">
                                            <a href=""><img src="assets/images/img-king-`+i+`.png" class="card-img-top" alt=""></a>
                                            <div class="card-body">
                                                <h4 class="card-title">4월 첫째주 낚시왕</h4>
                                                <p class="card-text">안녕하세요~ <br>고객님의 안전을 최우선으로 생각하는 선장 후크 입니다~^^ 배낚시의 재미를 느끼게 해드릴께요~</p>
                                                <p class="card-text text-primary">#4월첫째주낚시왕 #위캔피싱 #4월낚시왕 #우럭</p>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                                <div class="swiper-scrollbar"></div>
                            </div>
                            <script>
                                const fishingKingSwiper = new Swiper('.fishing-king .swiper-container', {
                                    slidesPerView: 2.8,
                                    spaceBetween: 40,
                                    //loop: true,
                                    navigation: {
                                        nextEl: '.swiper-button-next',
                                        prevEl: '.swiper-button-prev',
                                    },
                                    pagination: {
                                        el: '.swiper-pagination',
                                        type: 'bullets',
                                    },
                                    scrollbar: {
                                        el: '.swiper-scrollbar',
                                        draggable: true,
                                    },
                                });
                            </script>
                        </div>
                    </div>
                </section>
                <section class="section5">
                    <div class="container">
                        <h2 class="section-title">자주 묻는 질문 TOP 7</h2>
                        <div class="accordion">
                            @@for (var i = 1; i < 10; i++) {
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="faq-heading-`+i+`">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-`+i+`" aria-expanded="true" aria-controls="faq-`+i+`">
                                        배낚시 이용요금은 어떻게 되나요?
                                    </button>
                                </h2>
                                <div id="faq-`+i+`" class="accordion-collapse collapse" aria-labelledby="faq-heading-`+i+`">
                                    <div class="accordion-body">
                                        내만 우럭낚시, 쭈꾸미 낚시, 우럭&광어 다운샷, 농어 외수질(새우 미끼포함)등 어종과 거리에 따라 요금이 결정됩니다 보통 7만원에서 13만원정도입니다.
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </section>
                <section class="section6">
                    <div class="container">
                        <h2 class="section-title">안면도 명소, 어디까지 가보았니?</h2>
                        <p class="section-desc">하루 풀코스로 낚시를 즐겼다면, <br>다음날은 주변 명소도 덤으로 둘러보아야하지 않을까요?</p>
                        <div class="sights">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    @@for (var i = 1; i < 6; i++) {
                                    <div class="swiper-slide">
                                        <div class="card">
                                            <a href=""><img src="assets/images/img-sights-`+i+`.png" class="card-img-top" alt=""></a>
                                            <div class="card-body">
                                                <h4 class="card-title">태안 세계튤립 꽃 축제(4월~5월)</h4>
                                                <p class="card-text">고결하고 우아해 보이는 자태로 귀족의 상징이라고도 불렸던 튤립은 현재에 이르러서도 많은 사랑을 받고 있습니다. 안면도 국제 꽃 박람회가 펼쳐졌던 꽃지해안공원에서 꽃이 전하는 감동을 느껴보세요.</p>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                                <div class="swiper-scrollbar"></div>
                            </div>
                            <script>
                                const sightsSwiper = new Swiper('.sights .swiper-container', {
                                    slidesPerView: 3.8,
                                    spaceBetween: 40,
                                    //loop: true,
                                    navigation: {
                                        nextEl: '.swiper-button-next',
                                        prevEl: '.swiper-button-prev',
                                    },
                                    pagination: {
                                        el: '.swiper-pagination',
                                        type: 'bullets',
                                    },
                                    scrollbar: {
                                        el: '.swiper-scrollbar',
                                        draggable: true,
                                    },
                                });
                            </script>
                        </div>
                    </div>
                </section>
                <section class="section7">
                    <div class="container">
                        <h2 class="section-title">천천히 안전운행하세요.</h2>
                        <p class="section-desc"><i class="icon-marker"></i> 충청남도 태안군 남면 당암리 1-20</p>
                        <div class="location">
                            <img src="assets/images/img-map.png" alt="">
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <footer id="footer">
            <div class="container">
                <div class="footer-info">
                    상호명 : 주식회사 소프트퍼즐 대표 : 변희복 개인정보 책임자 : 변희복 이메일 : hbbyun@softpuzzle.co.kr 고객센터: 010-4724-0390 <br>
                    주소 : 서울 구로구 디지털로27길 36 이스페이스 514-1호 사업자등록번호 : 818-86-00633 통신판매업 : 제 2017-서울금천-0858 호
                </div>
                <p class="copyright">© COPYRIGHT wecanfishing. ALL RIGHT RESERVED.</p>
            </div>
        </footer>
    </div>
</body>
</html>